<article>
  <md-card class="filter">
    <md-card-title>
      BLGSearch
    </md-card-title>
    <md-card-subtitle>
      BLGSearch は Bリーグの試合を検索できる非公式WEBサービスです。
    </md-card-subtitle>
    <md-card-content>
      <md-select placeholder="チーム選択" [(ngModel)]="search.selectedTeam" (change)="search.onSelectTeam($event)">
        <md-option *ngFor="let team of search.teams" [value]="team">
          {{team}}
        </md-option>
      </md-select>

      <h4>
        <md-checkbox [(ngModel)]="search.showLocationFilter" (change)="search.onChangeFilter($event)">
          会場で絞り込む
        </md-checkbox>
      </h4>
      <md-card *ngIf="search.showLocationFilter">
        <md-card-content>
          <div *ngFor="let location of search.locationsWithArea">
            <md-checkbox [(ngModel)]="search.selectedLocation[location]" (change)="search.onChangeLocation($event)">
              {{location}}
            </md-checkbox>
          </div>
        </md-card-content>
      </md-card>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle class="important-notice">
      チケット購入の際は、必ず購入画面にて内容をお確かめの上、自己責任のもとでご購入ください。
    </md-card-subtitle>
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let game of search.result">
          <h4 md-line>{{game.home}} - {{game.away}}</h4>
          <p md-line>{{game.date}} ({{game.dayOfWeek}}) {{game.tipOff}}~ @ {{game.location}}（{{game.area}}）</p>
          <p md-line>
            <button md-button color="primary" (click)="search.onClickBuyTicket(game)">
              チケット購入画面
            </button>
          </p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</article>