<article>
  <md-card class="filter">
    <md-card-title>
      BLGSearch
    </md-card-title>
    <md-card-subtitle>
      BLGSearch は Bリーグの試合を検索できる非公式WEBサービスです。
    </md-card-subtitle>
    <md-card-content>
      <md-select placeholder="チーム選択" [(ngModel)]="search.selectedTeam" (change)="search.onSelectTeam($event)">
        <md-option *ngFor="let team of search.teams" [value]="team">
          {{team}}
        </md-option>
      </md-select>

      <h4>
        <md-checkbox [(ngModel)]="search.showLocationFilter" (change)="search.onChangeFilter($event)">
          会場で絞り込む
        </md-checkbox>
      </h4>
      <div *ngIf="search.showLocationFilter">
        <div *ngFor="let area of search.areas">
          <md-card *ngIf="search.locationsByArea[area].length > 0" class="area-card">
            <md-card-subtitle>
              {{area}}
            </md-card-subtitle>

            <md-card-content>
              <div *ngFor="let location of search.locationsByArea[area]">
                <md-checkbox [(ngModel)]="search.selectedLocation[location]" (change)="search.onChangeLocation($event)">
                  {{location}}
                </md-checkbox>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-subtitle class="important-notice">
      チケット購入の際は、必ず購入画面にて内容をお確かめの上、自己責任のもとでご購入ください。
    </md-card-subtitle>
    <md-card-content>

      <!-- 広告 -->
      <div class="ad-container">
        <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ur1&category=sports&banner=09E585E3XP2GENQESJG2&f=ifr&linkID=6a02e3940ed10971112d5986a0c8e7d3&t=chase0213-22&tracking_id=chase0213-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      </div>

      <md-list>
        <md-list-item *ngFor="let game of search.result">
          <h4 md-line>{{game.home}} - {{game.away}}</h4>
          <p md-line>{{game.date}} ({{game.dayOfWeek}}) {{game.tipOff}}~ @ {{game.location}}（{{game.area}}）</p>
          <p md-line>
            <button md-button color="primary" (click)="search.onClickBuyTicket(game)">
              チケット購入画面
            </button>
          </p>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</article>