// 全体の外観
mat-card {
  padding: 0;

  &.filter {
    mat-card-title {
      background: #505050;
      color: #ffffff;
      padding: 24px 16px;
    }

    mat-card-subtitle {
      margin: 0;
      padding: 0px 16px;
    }

    mat-card-content {
      padding: 24px 16px;
    }
  }

  &.area-card {
    mat-card-subtitle {
      padding: 12px 16px 0;
    }

    mat-card-content {
      padding: 8px 16px;
    }
  }

  .important-notice {
    color: #f44336;
    font-size: 1rem;
    padding: 24px 16px;
  }

  .normal-notice {
    padding: 0px 16px;
  }
}

mat-select {
  margin-top: .8em !important;
  width: 100%;
}

.ad-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: .4em 0;
}
